/* ========================================
   General Reset and Base Styles
========================================== */
* {
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ========================================
   Dynamic Font Sizing
========================================== */
html {
    font-size: clamp(14px, 2vw, 20px);
    
}

/* ========================================
   Body and Header Styles
========================================== */
body {
    background-color: black;
    color: white;
    width: 100%;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
    margin: 0;
}

header {
    position: sticky;
    background-color: rgb(26, 26, 26);
    padding: 10px 0px;
    width: 100%;
    clear: both;
    overflow: hidden;
    z-index: 999;
    background-attachment: fixed;
    font-weight: 600;
    flex-shrink: 0;
}

header.expanded {
    height: auto;
}


footer {
    background-color: rgb(26, 26, 26);
    width: 100%;
    clear: both;
    text-align: center;
    font-size: 0.8rem;
    flex-shrink: 0;
}
.article p{
     margin-bottom: 20px;
}

/* ========================================
   Layout and Container Styles
========================================== */
.container {
    position: relative;
    color: white;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
}

.main-body{
    margin: 20px;

    align-content: center;
    flex: 1
}

.article-main{
    display: flex; 
    align-content: center;
    align-items: center;
    justify-content: center; 
    text-align: left; 
    flex-direction: column;
    margin: 10px;
    
}

.article{
    display: flex; 
    align-content: center;
    justify-content: center; 
    text-align: left; 
    flex-direction: column;
    margin: 10px;
    
}
.media{
    display: flex; 
    align-items: center; 
    flex-direction: column;
}

.article-text{
    display: flex; 
    align-self: left;
    align-content: left;
    align-items: left; 
    justify-content: left; 
    text-align: left; 
    flex-direction: column;
    padding-left: 10px;
}
.article-text {
    text-align: left; 
    padding-left: 10px; 
}

.article-text ul {
    list-style: disc; 
    margin-left: 20px; 
    padding-left: 0; 
}
.article-text ol {
    margin-left: 20px; 
}

/* ========================================
   Name Section Styles
========================================== */
.name {
    flex-shrink: 0;
    font-size: 1rem;
}

/* ========================================
   Top Navigation Styles
========================================== */
.top-navigation {
    display: flex;
    color: white;
    align-items: center;
    width: 100%;
    gap: 10px;
    justify-content: center

}

.main-nav {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.main-nav-list-mobile{
    flex-grow: 1;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}

#navigation-list-desktop {
    list-style: none;
    display: flex;
    gap: 1rem;
}

#navigation-list-desktop li {
    margin: 0;
    appearance: none;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    border-radius: 15px;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 30px;
    min-width: 0;
    outline: none;
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
}



#navigation-list-desktop li:hover, 
#navigation-list-desktop li:focus {
    background-color: rgb(51, 51, 51); 
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
    outline: none; 
}

#navigation-list-desktop li:active {
    box-shadow: none;
    transform: translateY(0);
}

#navigation-list-mobile {
    list-style: none;
    display: flex;
    gap: 1rem;
}

#navigation-list-mobile li {
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
    font-size: inherit;
}

/* Theme Toggle Button */
.theme-toggle {
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 1rem;
    display: flex;

    justify-content: center;
    align-items: center;
}
.search-button {
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px; /* Match the dimensions of the theme button */
    height: 20px;
}

.search-button i {
    font-size: 1rem; /* Ensure the icon matches the desired size */
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#div-search-button{
    margin: 10px;
}

#div-theme-toggle{
    margin: 10px;
}

/* Hamburger Menu */
.hamburger {
    display: none;
    font-size: 1.5rem;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

/* ========================================
   Responsive Styles
========================================== */
@media (max-width: 768px) {
    header {
        height: 60px;
    }

    #navigation-list-desktop {
        display: none;
        flex-direction: column;
        gap: 10px;
        text-align: center;
        width: 100%;
    }

    #navigation-list-mobile {
        display: none;
        flex-direction: column;
        gap: 5px;
        text-align: center;
        width: 100%;
        margin: 10px;
    }

    #navigation-list-mobile li {
        margin: 0;
        appearance: none;
        box-sizing: border-box;
        cursor: pointer;
        display: inline-block;
        border-radius: 15px;
        font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
        font-size: 16px;
        font-weight: 600;
        line-height: normal;
        margin: 0;
        min-height: 30px;
        min-width: 0;
        outline: none;
        padding: 8px 12px;
        text-align: center;
        text-decoration: none;
        transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        will-change: transform;
    }
    
    
    
    #navigation-list-mobile li:hover, 
    #navigation-list-mobile li:focus {
        background-color: rgb(51, 51, 51); 
        border-radius: 15px;
        box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
        transform: translateY(-2px);
        outline: none; 
    }
    
    #navigation-list-desktop li:active {
        box-shadow: none;
        transform: translateY(0);
    }

    header.expanded #navigation-list-mobile {
        display: flex;
    }

    header.expanded .main-nav-list-mobile {
        display: flex;
    }


    .hamburger {
        display: block;
    }

    .main-nav {
        justify-content: center;
    }

    body {
        font-size: 0.7rem;
    }

    footer {
        font-size: 0.7rem;
    }
    canvas{
        width: 100%;
    }
}

/* ========================================
   Dark Mode Styles
========================================== */
body.bright-mode {
    background-color: white;
    color: black;
}

body.bright-mode #navigation-list-desktop li:hover,
body.bright-mode #navigation-list-desktop li:focus {
    background-color: rgb(240, 240, 240);  
}

body.bright-mode .button-main-body{
    background-color: rgb(240, 240, 240);
    color: black;
}

body.bright-mode header,
body.bright-mode footer {
    background-color: #e9e9e9;
    color: black;
}

body.bright-mode a {
    color: black;
}

body.bright-mode .name,
body.bright-mode .view-mode,
body.bright-mode .hamburger,
body.bright-mode .search-button,
body.bright-mode .theme-toggle,
body.bright-mode .search-button  {
    color: black;
}


body.bright-mode #search-overlay {
    background: rgba(255, 255, 255, 0.9); 
}

body.bright-mode .search-container {
    background: rgb(255, 255, 255); 
    color: rgb(0, 0, 0); 
}

body.bright-mode #search-input {
    background: #ffffff; 
    color: rgb(255, 255, 255); 
    border: 1px solid #ccc; 
}

body.bright-mode #search-results a {
    background: #575757; 
    color: rgb(255, 255, 255); 
}

body.bright-mode #search-results a:hover {
    background: #777777; 
}

body.bright-mode .project-card-search{
    background-color: #000000;
}


/* ========================================
   To Organize 
========================================== */

table {
    margin: 0 auto; 
    border-spacing: 10px; 
    text-align: left;
}


.resume-container{
    display: flex; 
    align-items: center; 
    justify-content: center; 
    text-align: center; 
    flex-direction: column;
    padding: 10px;
}


.button-main-body{
    appearance: none;
    background-color: rgb(26, 26, 26);    
    border: 2px solid rgb(82, 82, 82);
    border-radius: 15px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 10px;
    min-height: 30px;
    min-width: 0;
    outline: none;
    padding: 8px 8px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
}

.button-main-body:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}
.button-main-body:active{
    box-shadow: none;
    transform: translateY(0);
}

.pdf-canvas{
    border: solid 2px black;
}



/* Search Overlay */
#search-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

#search-overlay.hidden {
    display: none;
}

.search-container {
    background: rgb(39, 39, 39);
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    width: 95%;
    max-width: 600px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

/* Search input styling */
#search-input {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
}

/* Search results styling */
#search-results {
    text-align: left;
    max-height: calc(100vh - 100px); 
    overflow-y: auto;
}

/* Individual search result link */
#search-results a {
    display: block;
    padding: 10px;
    background: rgb(39, 39, 39);
    border: 1px solid rgb(39, 39, 39);
    border-radius: 5px;
    margin-bottom: 10px;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

/* Hover effect for search results */
#search-results a:hover {
    background: #474747;
}


/* ========================================
   Project Card Styles
========================================== */
.project-card-search {
    display: flex; 
    align-items: center; 
    background-color: #414141;
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    cursor: pointer;
    text-decoration: none; 
}

.project-card-search:hover {
    transform: scale(1.05); 
}

.card-body-image img {
    height: auto; /* Maintains aspect ratio */
    width: 100px; /* Ensures it doesn't grow larger than 150px */
    height: 100px; /* Ensures it doesn't grow taller than 150px */
    object-fit: cover; /* Keeps the image properly cropped */
    border-radius: 8px; /* Smooth corners */
    margin-right: 20px; /* Space between the image and text */
}

.card-body {
    flex: 1; 
}

.card-body h3 {
    margin: 0 0 10px; 
    font-size: 1.5rem;
    font-weight: bold;
}

.card-body p {
    margin: 0;
    color: rgb(255, 255, 255);
}

.card-body a {
    display: inline-block;
    margin-top: 10px;
    text-decoration: none; 
    font-weight: bold;
}

.card-body a:hover {
    text-decoration: underline; 
}


.media img,
.media iframe {
    width: 100%; 
    height: auto; 
    max-width: 100%; 
    padding: 10px; 
}


.media iframe,
.media img {
    max-width: 1020px; 
}


.media iframe {
    aspect-ratio: 16 / 9; 
}


.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); 
    gap: 20px;
    padding: 20px;
}
.project-card {
    background-color: #f0f0f041;
    padding: 20px;
    text-align: left;
    cursor: pointer;
    border-radius: 8px;
    transition: transform 0.3s;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
.project-card:hover {
    transform: scale(1.05);
}
.project-card img {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}