/* ========================================
   General Reset and Base Styles
========================================== */
* {
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ========================================
   Dynamic Font Sizing
========================================== */
html {
    font-size: clamp(14px, 2vw, 20px);
}

/* ========================================
   Body and Header Styles
========================================== */
body {
    background-color: black;
    color: white;
    width: 100%;
    line-height: 1.6;
}

header {
    position: sticky;
    background-color: rgb(26, 26, 26);
    top: 0;
    padding: 10px 0;
    width: 100%;
    clear: both;
    overflow: hidden;
    z-index: 999;
    background-attachment: fixed;
}

header.expanded {
    height: auto;
    padding: 10px 0;
}


footer {
    background-color: rgb(26, 26, 26);
    width: 100%;
    clear: both;
    text-align: center;
    font-size: 0.8rem;
}

/* ========================================
   Layout and Container Styles
========================================== */
.container {
    position: relative;
    color: white;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
}

/* ========================================
   Name Section Styles
========================================== */
.name {
    flex-shrink: 0;
    font-size: 1rem;
}

/* ========================================
   Top Navigation Styles
========================================== */
.top-navigation {
    display: flex;
    color: white;
    align-items: center;
    width: 100%;
    gap: 10px;

}

.main-nav {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.main-nav-list-mobile{
    flex-grow: 1;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}

#navigation-list-desktop {
    list-style: none;
    display: flex;
    gap: 1rem;
}

#navigation-list-desktop li {
    margin: 0;
    appearance: none;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    border-radius: 15px;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 30px;
    min-width: 0;
    outline: none;
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
}


#navigation-list-desktop li:hover, 
#navigation-list-desktop li:focus {
    background-color: rgb(51, 51, 51); 
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
    outline: none; 
}

#navigation-list-desktop li:active {
    box-shadow: none;
    transform: translateY(0);
}

#navigation-list-mobile {
    list-style: none;
    display: flex;
    gap: 1rem;
}

#navigation-list-mobile li {
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
    font-size: inherit;
}

/* Theme Toggle Button */
.theme-toggle {
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 1rem;
}

/* Hamburger Menu */
.hamburger {
    display: none;
    font-size: 1.5rem;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

/* Search Button and View Mode */
.search-button,
.view-mode {
    flex-shrink: 0;

    font-size: 0.7rem;
}

/* ========================================
   Responsive Styles
========================================== */
@media (max-width: 768px) {
    header {
        height: 50px;
    }

    #navigation-list-desktop {
        display: none;
        flex-direction: column;
        gap: 10px;
        text-align: center;
        width: 100%;
    }

    #navigation-list-mobile {
        display: none;
        flex-direction: column;
        gap: 5px;
        text-align: center;
        width: 100%;
        margin: 10px;
    }

    header.expanded #navigation-list-mobile {
        display: flex;
    }

    header.expanded .main-nav-list-mobile {
        display: flex;
    }


    .hamburger {
        display: block;
    }

    .main-nav {
        justify-content: center;
    }

    body {
        font-size: 0.7rem;
    }

    footer {
        font-size: 0.7rem;
    }
}

/* ========================================
   Dark Mode Styles
========================================== */
body.bright-mode {
    background-color: white;
    color: black;
}

body.bright-mode #navigation-list-desktop li:hover,
body.bright-mode #navigation-list-desktop li:focus {
    background-color: rgb(240, 240, 240);  
}

body.bright-mode .button-main-body{
    background-color: rgb(240, 240, 240);
    color: black;
}

body.bright-mode header,
body.bright-mode footer {
    background-color: #e9e9e9;
    color: black;
}

body.bright-mode a {
    color: black;
}

body.bright-mode .name,
body.bright-mode .view-mode,
body.bright-mode .hamburger,
body.bright-mode .search-button,
body.bright-mode .theme-toggle  {
    color: black;
}

/* ========================================
   To Organize 
========================================== */

.contact-form-container {
    display: flex; /* Enables flexbox for centering */
    align-items: center; /* Centers content vertically */
    justify-content: center; /* Centers content horizontally */
    text-align: center; /* Ensures the text is centered inside the container */
    flex-direction: column;
    margin: 10px;
}

table {
    margin: 0 auto; /* Ensures fallback horizontal centering */
    border-spacing: 10px; /* Optional: Adds spacing between table cells */
    text-align: left;
}


.resume-container{
    display: flex; /* Enables flexbox for centering */
    align-items: center; /* Centers content vertically */
    justify-content: center; /* Centers content horizontally */
    text-align: center; /* Ensures the text is centered inside the container */
    flex-direction: column;
    padding: 10px;
}


.button-main-body{
    appearance: none;
    background-color: rgb(26, 26, 26);    
    border: 2px solid rgb(82, 82, 82);
    border-radius: 15px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 10px;
    min-height: 30px;
    min-width: 0;
    outline: none;
    padding: 8px 8px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
}

.button-main-body:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}
.button-main-body:active{
    box-shadow: none;
    transform: translateY(0);
}

.pdf-canvas{
    border: solid 2px black;
}
